
body {
	font-family: Source Sans Pro;
	background: #282828;
	background: linear-gradient(-45deg, #EE7752,  #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	text-align: center;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient{
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

h1 {
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 30px;
}

li {
  text-align: center;
  display: block;
  font-family: verdana;
  font-weight: bold;	
  font-size: 20px;
}

img {
  border: 2px solid black;
}

p {
	font-weight: bold;
}

